body {
  background-color: #fcfcfc;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #fff;
  padding: 30px;
  width: 40%;
}

form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input{
  width: 40%;
}

form input {
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  outline: none;
}

p{
  color: rgba(255, 0, 0, 0.68);
  margin-top: -3px;
}

.cep-error{
  background-color: rgba(235, 38, 38, 0.747);
  border: solid 2px rgba(185, 30, 30, 0.747);
}